/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Miama */
@import url('https://fonts.cdnfonts.com/css/miama');
/* font-family: 'Miama', sans-serif; */


:root {
    --color-orange: rgb(230, 83, 60);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(0, 0, 0);
    font-family: "Inter";
    color: #ffffff;
}

h1,
h2,
h3 {
    font-weight: 800;
}

p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
}

img {
    width: 100%;
    height: 100%;
}

/* neeed to add style here */
.container {
    width: 65%;
    margin: 0 auto;
}

.btns {
    margin-top: 1.75rem;
    display: flex;
    gap: 0.875rem;
}


.btn {
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    font-size: 1.125rem;
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    font-weight: 600;
}

.btn-small {
    padding: 4px 8px;
    border-radius: 0;
    font-size: 0.8rem;
    border: none;
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
    border-radius: 5px;
    font-weight: 300;
}

.btn-small:hover {
    color: rgba(230, 83, 60, 0.5);
    border: 1px solid rgba(230, 83, 60, 0.5);
}


/* Header */
header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    margin-bottom: 6.25rem;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 3.6rem;
}


nav h3 {
    color: var(--color-orange);
    font-size: 2.2rem;
    font-style: italic;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 8px 20px 8px 20px;
}

.nav-active,
.nav-links li a:hover {
    background-color: var(--color-orange);
    border-radius: 46px;
}

.burger-menu {
    display: none;
}

.banner-content {
    display: flex;
    align-items: center;
    margin-top: 6rem;
}

.banner-txt-wrapper,
.banner-img {
    width: 50%;
}

.banner-txt {
    width: 520px;
}

.banner-img {
    position: relative;
}

.banner-img .model {
    width: 65%;
    display: block;
    margin-left: auto;
}

.banner-txt h1 {
    font-size: 4.8rem;
    line-height: 6rem;
    margin-bottom: 1.75rem;
}

.banner-txt {
    margin-bottom: 1.75rem;
}

.banner-txt h1 .bh-style1 {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 9.5rem !important;
}

.txt-box1,
.txt-box2 {
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.txt-box1 {
    right: -5%;
    top: 30%;
}

.txt-box2 {
    left: 25%;
    bottom: 13%;

}

.txt-box1 h3 {
    font-size: 2.5rem;
}

.txt-box1 p {
    font-size: 0.8rem;
}

.txt-box2 {
    flex-direction: row;
    gap: 0.8rem;
}

.txt-box2 h3 {
    font-style: 1.5rem;
}

.txt-box2 p {
    font-size: 1rem;
}

.triangle {
    width: 14.63px;
    height: 20px;
    transform: rotate(90deg);
    position: absolute;
    left: 25%;
    bottom: 48%;
}

.shape {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-orange);
}

.btn.btn-primary {
    background: var(--color-orange);
    border: 0 !important;
}

/* Habbits */
.habits {
    text-align: center;
    margin-bottom: 6.25rem;
}

.habbits-txt {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 3.4rem;
}

.habbits-txt h2 {
    font-size: 3rem;
    margin-bottom: 0.8rem;
}

.habit-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.4rem;
}

.habit img {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    margin-bottom: 1.6rem;
    border: 2px solid #202020;
}

.habit {
    flex: 1;
}

.habit-txt {
    width: 230px;
    margin: 0 auto;
}

.habit h4 {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}


/* Run */
.run {
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-bottom: 6.25rem;
}

.run-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.run-txt {
    width: 45%;
}


.run-txt h2 {
    font-size: 3rem;
    margin-bottom: 0.8rem;
}

.run-txt p {
    margin-bottom: 2.2rem;
    max-width: 70%;
}


.run-img {
    width: 45%;
    overflow: hidden;
    position: relative;
    border-radius: 18px;
}

.run-img img {
    transform: scale(2.4) translate(-10%, 10%);
    margin: 0 auto;
}



/* 30 Days Program */
.workout-plans {
    margin-bottom: 6.5rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.workout-wrapper {
    padding: 2rem;
}

.workout-txt {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.workout-txt h2 {
    font-size: 3rem;
    margin-bottom: 0.8rem;
}

.workouts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.workout {
    /* width: 20%; */
    box-shadow: 1px 1px 15px 6px rgba(92, 85, 85, 0.1);
    padding: 0.5rem;
}

.workout h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.workout p {
    margin-bottom: 1rem;
}

.workout img {
    height: 250px;
    margin-bottom: 1rem;
}

/* BMI */
.bmi-calc {
    margin-bottom: 6.25rem;
}

.bmi-txt {
    width: 45%;
    margin: 0 auto;
}

.bmi-txt h2 {
    font-size: 3rem;
    margin-bottom: 0.8rem;
}

.bmi-txt p {
    width: 75%;
}

.bmi-txt {
    margin-bottom: 5.5rem;
}

.bmi-content-wrapper {
    background: rgb(34, 34, 34);
    padding: 3.2rem 0;
}

.bmi-content {
    display: flex;
    justify-content: space-between;
}

.chart {
    width: 40%;
}

.calculate {
    width: 50%;
}

.chart h3,
.calculate h3 {
    margin-bottom: 3.25rem;
    font-size: 1.75rem;
}

.bmi-table {
    width: 310px;
    text-align: left;
    border-collapse: collapse;
}

.bmi-table,
.bmi-table th,
.bmi-table td {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.bmi-table th,
.bmi-table td {
    width: 160px;
    padding: 1.2rem;
}

.bmi-table th {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.bmi-table td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
}

.calculate h3 {
    margin-bottom: 0.8rem;
}

.calculate p {
    margin-bottom: 2.1rem;
}


/* BMI form */
.bmi-form .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
}

.bmi-form input,
.bmi-form select {
    min-width: 95px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 20px 12px 20px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.bmi-form input::placeholder {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}

.dropdown option {
    font-size: 1rem;
    color: #202020;
    font-weight: 400;
}

.dropdown {
    appearance: none;
    /* Here First Bg Color, 2nd image for arrow, 3rd no-repeat, 4th position and by how much, vertical allignment and size*/
    background: rgba(255, 255, 255, 0.1) url("images/down-chevron.png") no-repeat right 1rem center/14px !important;
}

.dropdown.factor {
    width: 100%;
    margin-top: 0.7rem;
}


input[type=number] {
    appearance: textfield;
}

.bmi-form .btn {
    margin-top: 2.2rem;
    cursor: pointer;
    width: 224px;
}

/* Team */
.team {
    margin-bottom: 5.5rem;
}

.team-txt {
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.6rem;
}

.team-txt h2 {
    font-size: 3rem;
    margin-bottom: 0.8rem;
}

.team-gal {
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 1.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.team-card {
    border-radius: 18px;
    position: relative;
    overflow: hidden;
}

.team-card img {
    border-radius: 18px;
    scale: 1.05;
    filter: brightness(80%);
}

.team-member-desc {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.team-member-desc h4 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}

.team-member-desc p {
    font-size: 1.1rem;
}


/* Footer */
footer {
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
}

.footer-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 3.5rem 0;
}

.footer-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.footer-txt h3 {
    font-size: 4.4rem;
    color: var(--color-orange);
    font-style: italic;
    margin-bottom: 1.4rem;
}

.footer-txt p {
    width: 80%;
}

.footer-menu.menu1 {
    place-self: center;
}

.footer-menu.menu2 {
    place-self: end;
}

.footer-menu h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer-menu li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.footer-menu li a:hover {
    color: rgba(255, 255, 255, 0.2);
}

.footer-bottom hr {
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom p {
    text-align: center;
    padding: 1.5rem 0;
}


/* For Low Res Desktop */

@media screen and (max-width:1600px) {
    .container {
        width: 80%;
    }
}

/* For High Res Tab */

@media screen and (max-width:992px) {
    .container {
        width: 90%;
    }

    .nav-links {
        gap: 1rem;
    }

    .banner-txt {
        width: 70%;
    }

    .banner-content {
        flex-wrap: wrap;
        gap: 6.25rem;
    }

    .banner-txt-wrapper {
        width: 100%;
    }

    .banner-img {
        width: 100%;
    }

    .banner-img .model {
        width: 75%;
        margin: 0 auto;
    }

    .txt-box1 {
        right: 5%;
        top: 10%;
    }

    .txt-box2 {
        left: 0%;
        bottom: 20%;
    }

    .triangle {
        left: 5%;
        bottom: 48%;
    }

    .habbit-wrapper {
        flex-wrap: wrap;
    }

    .habbits-txt {
        width: 85%;
    }

    .run-txt h2 {
        font-size: 2.2rem;
    }

    .run-img {
        width: 55%;
    }

    .run-txt p {
        max-width: 90%;
    }

    .run-wrapper {
        padding: 1rem 1.2rem;
    }

    .workouts {
        justify-content: center;
    }

    .workouts {
        grid-template-columns: repeat(2, 1fr);
    }

    .bmi-txt {
        width: 90%;
        margin: inherit auto;
    }

    .bmi-txt h2 {
        font-size: 2rem;
    }

    .bmi-content {
        flex-direction: column;
        gap: 4rem;
    }

    .chart,
    .calculate {
        width: 100%;
    }

    .chart h3,
    .calculate h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .footer-top {
        grid-template-columns: 1fr 1fr;
        gap: 6rem;
    }

    .footer-txt {
        grid-column: span 2;
    }

    .footer-menu.menu1,
    .footer-menu.menu2 {
        place-self: start;
    }
}

/* For Low Res Tab */
@media screen and (max-width:768px) {
    .nav-links {
        display: none;
    }

    .burger-menu {
        display: block;
        color: #ffffff;
        font-size: 20px;
        align-self: center;
    }

    .banner-content {
        gap: 2rem;
    }


    .banner-txt {
        width: 85%;
    }

    .banner-txt h1 {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .banner-txt h1 .bh-style1 {
        font-size: 7rem !important;
    }

    .btn {
        padding: 15px 20px;
        font-size: 0.8rem;
    }

    .btn-small {
        padding: 4px 8px;
    }

    .habbits-txt h2 {
        font-size: 2.8rem;
    }

    .run-img {
        width: 50%;
    }

    .workout-txt {
        width: 90%;
    }

    .team-gal {
        grid-template-columns: 1fr 1fr;
    }
}

/* For Mobile */
@media screen and (max-width:576px) {
    .container {
        width: 90%;
    }

    h2 {
        font-size: 2rem !important;
    }

    header {
        margin-bottom: 3.5rem;
    }

    .banner-txt {
        width: 100%;
    }

    .banner-txt h1 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .banner-content {
        margin-top: 3.25rem;
    }

    .banner-txt h1 .bh-style1 {
        font-size: 6rem !important;
    }

    .banner-img .model {
        width: 100%;
    }

    .txt-box1,
    .txt-box2 {
        width: 150px;
        height: 80px;
    }

    .txt-box1 {
        right: 0%;
        top: 5%;
    }

    .txt-box1 h3,
    .txt-box2 h3 {
        font-size: 1.5rem;
    }

    .txt-box2 {
        left: 0%;
        bottom: 35%;
        width: 180px;
    }

    .triangle {
        display: none;
    }

    .habbits-txt {
        width: 100%;
    }

    .run-wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .run-txt {
        width: 100%;
    }

    .run-wrapper .btn {
        display: block;
        width: auto;
        text-align: center;
        font-size: 1rem;
    }

    .run-img {
        width: 100%;
        position: static;
        border-radius: 18px;
    }

    .run-img img {
        transform: scale(1) translate(0, 0);
    }

    .run-wrapper {
        padding: 1.2rem;
    }



    .workouts {
        grid-template-columns: 1fr;
    }

    .workout {
        max-width: 320px;
        margin: 0 auto;
    }

    .workout-txt {
        width: 100%;
    }

    .bmi-table {
        width: 100%;
    }

    .bmi-form .btn {
        width: 160px;
    }

    .team-gal {
        grid-template-columns: 1fr;
    }

    .team-card.problem-card {
        display: none;
    }

    .footer-top {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .footer-txt {
        grid-column: 1;
    }

    .footer-txt p {
        width: 100%;
    }

    .footer-menu.menu1,
    .footer-menu.menu2 {
        place-self: start;
    }
}